.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.status-s-dc {
  background: hsl(116, 60%, 90%);
  color: hsl(116, 30%, 25%);
}

.status-s-c {
  background: hsl(230, 70%, 90%);
  color: hsl(230, 45%, 30%);
}

.status-sr-c {
  background: hsl(350, 70%, 90%);
  color: hsl(350, 45%, 30%);
}


.status-sr-dc {
  background: hsl(36, 70%, 90%);
  color: hsl(36, 45%, 30%);
}
