
{% extends "base.html" %}

{% block title %}SEAZIT-DIVER{% endblock %}

{% block crumbs %}
<ul class="nav nav-tabs my-2">

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-about"
           href="{% url 'seazit:seazitdiver' %}#about">
            <i class="fa fa-home fa-lg"></i>&nbsp;About
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-dataset"
           href="{% url 'seazit:seazitdiver' %}#dataset">
            Datasets
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-qc"
           href="{% url 'seazit:seazitdiver' %}#quality-control">
            Quality Check
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-cr"
           href="{% url 'seazit:seazitdiver' %}#seazit_cr">
            Concentration Response
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-bmc"
           href="{% url 'seazit:seazitdiver' %}#seazit_bmcByLab">
            BMC by Dataset
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-int"
           href="{% url 'seazit:seazitdiver' %}#seazit_integrative">
            Integrative Analyses
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazitdiver' %}active{% endif %}"
           id="nav-tab-resources"
           href="{% url 'seazit:seazitdiver' %}#resources">
            Resources
        </a>
    </li>

</ul>
{% endblock crumbs %}
